<ul class="list-group">
    {{#each donations}}
        <li class="list-group-item">
        <p>To: <a href="/charities/{{this.orgsEin}}">{{this.orgsName}}</a></p>
        <p>Amount: {{this.amount}}</p>
        <p><a href="/donations/{{this._id}}">details</a></p>
        </li>
    {{/each}}
</ul>
